In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv('reasonOfAccident.csv')

In [5]:
df

,Sl. No,States/UTs,Fault of Driver-Total No. of Road Accidents - 2014,Fault of Driver-Total No. of Road Accidents - 2014 per 1L people,Fault of Driver-Number of Persons-Killed - 2014,Fault of Driver-Number of Persons-Killed - 2014 per 1L people,Fault of Driver-Number of Persons-Injured - 2014,Fault of Driver-Number of Persons-Injured - 2014 per 1L people,Fault of Driver of other vehicles-Total No. of Road Accidents - 2014,Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people,...,Falling of boulders-Number of Persons-Killed - 2014 per 1L people,Falling of boulders-Number of Persons-Injured - 2014,Falling of boulders-Number of Persons-Injured - 2014 per 1L people,Other causes/causes not known-Total No. of Road Accidents - 2014,Other causes/causes not known-Total No. of Road Accidents - 2014 per 1L people,Other causes/causes not known-Number of Persons-Killed - 2014,Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people,Other causes/causes not known-Number of Persons-Injured - 2014,Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people,Population
0,1,Andhra Pradesh,21359.0,40.753165,6743,12.865705,26287.0,50.155834,288.0,0.549507,...,0.001908,12.0,0.022896,1530.0,2.919254,545,1.039865,1617.0,3.085251,52410653
1,2,Arunachal Pradesh,30.0,2.168058,19,1.373103,30.0,2.168058,20.0,1.445372,...,0.000000,0.0,0.000000,34.0,2.457132,22,1.589909,54.0,3.902504,1383727
2,3,Assam,6895.0,22.095410,2429,7.783865,6281.0,20.127813,2.0,0.006409,...,0.000000,0.0,0.000000,43.0,0.137796,10,0.032046,35.0,0.112159,31205576
3,4,Bihar,5008.0,4.810784,2646,2.541800,3374.0,3.241131,608.0,0.584057,...,0.042267,58.0,0.055716,960.0,0.922195,528,0.507207,745.0,0.715662,104099452
4,5,Chhattisgarh,9108.0,35.654451,2458,9.622161,8710.0,34.096428,726.0,2.842021,...,0.027402,38.0,0.148756,1552.0,6.075506,555,2.172620,1421.0,5.562689,25545198
5,6,Goa,3795.0,260.190807,247,16.934685,1650.0,113.126438,0.0,0.000000,...,0.000000,0.0,0.000000,143.0,9.804291,6,0.411369,83.0,5.690603,1458545
6,7,Gujarat,18945.0,31.345295,6635,10.977885,18256.0,30.205316,450.0,0.744544,...,0.003309,0.0,0.000000,1328.0,2.197232,375,0.620453,932.0,1.542033,60439692
7,8,Haryana,8208.0,32.376831,3186,12.567323,7633.0,30.108717,456.0,1.798713,...,0.315564,56.0,0.220895,525.0,2.070886,286,1.128140,315.0,1.242532,25351462
8,9,Himachal Pradesh,2936.0,42.770142,1148,16.723475,5326.0,77.586435,22.0,0.320485,...,0.000000,0.0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000,6864602
9,10,Jammu & Kashmir,3614.0,28.816785,561,4.473220,4088.0,32.596297,380.0,3.029988,...,0.000000,0.0,0.000000,880.0,7.016815,196,1.562836,1701.0,13.563185,12541302
10,11,Jharkhand,2961.0,8.975955,1354,4.104506,2367.0,7.175307,358.0,1.085239,...,0.045471,24.0,0.072753,631.0,1.912809,345,1.045831,632.0,1.915840,32988134
11,12,Karnataka,35409.0,57.956998,8508,13.925785,45635.0,74.694784,3054.0,4.998748,...,0.021278,40.0,0.065471,2385.0,3.903737,644,1.054091,3085.0,5.049489,61095297
12,13,Kerala,36282.0,108.609034,4049,12.120555,41096.0,123.019592,0.0,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000,33406061
13,14,Madhya Pradesh,41275.0,56.831631,6740,9.280320,44090.0,60.707610,2215.0,3.049838,...,0.002754,17.0,0.023407,4333.0,5.966116,599,0.824764,4099.0,5.643921,72626809
14,15,Maharashtra,48237.0,42.925283,11113,9.889269,34294.0,30.517645,7270.0,6.469449,...,0.000000,64.0,0.056953,4309.0,3.834506,688,0.612239,2377.0,2.115252,112374333
15,16,Manipur,0.0,0.000000,0,0.000000,0.0,0.000000,0.0,0.000000,...,0.000000,1.0,0.035017,330.0,11.555455,108,3.781785,638.0,22.340547,2855794
16,17,Meghalaya,25.0,0.842633,12,0.404464,8.0,0.269643,40.0,1.348214,...,0.202232,4.0,0.134821,222.0,7.482585,31,1.044866,163.0,5.493970,2966889
17,18,Mizoram,114.0,10.390027,94,8.567215,222.0,20.233211,18.0,1.640531,...,0.000000,0.0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000,1097206
18,19,Nagaland,211.0,10.664634,62,3.133684,157.0,7.935297,73.0,3.689660,...,0.000000,0.0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000,1978502
19,20,Odisha,9251.0,22.039720,3775,8.993616,10729.0,25.560929,55.0,0.131033,...,0.009530,9.0,0.021442,38.0,0.090532,18,0.042883,29.0,0.069090,41974218
20,21,Punjab,3849.0,13.873601,2761,9.951939,2577.0,9.288716,293.0,1.056109,...,0.075694,45.0,0.162201,1030.0,3.712603,782,2.818695,636.0,2.292442,27743338
21,22,Rajasthan,23637.0,34.482187,9878,14.410248,26106.0,38.084019,0.0,0.000000,...,0.002918,1.0,0.001459,620.0,0.904470,237,0.345741,906.0,1.321693,68548437
22,23,Sikkim,123.0,20.144879,32,5.240944,181.0,29.644091,15.0,2.456693,...,0.000000,0.0,0.000000,40.0,6.551180,11,1.801575,93.0,15.231494,610577
23,24,Tamil Nadu,64337.0,89.174842,14325,19.855287,74677.0,103.506686,114.0,0.158011,...,0.000000,0.0,0.000000,28.0,0.038810,4,0.005544,10.0,0.013861,72147030
24,25,Telangana,16344.0,50.671402,5357,16.608340,14282.0,44.278571,18.0,0.055806,...,0.607660,1054.0,3.267723,1119.0,3.469242,613,1.900488,2222.0,6.888880,32254880
25,26,Tripura,562.0,15.297025,147,4.001179,971.0,26.429557,23.0,0.626035,...,0.000000,0.0,0.000000,78.0,2.123075,16,0.435502,130.0,3.538458,3673917
26,27,Uttarakhand,1039.0,10.301110,637,6.315502,941.0,9.329494,146.0,1.447509,...,0.000000,2.0,0.019829,137.0,1.358279,115,1.140161,366.0,3.628687,10086292
27,28,Uttar Pradesh,7661.0,3.834098,4047,2.025400,5588.0,2.796624,2737.0,1.369785,...,0.146137,463.0,0.231717,5101.0,2.552895,2556,1.279200,3237.0,1.620020,199812341
28,29,West Bengal,5952.0,6.520874,2680,2.936146,5697.0,6.241501,1495.0,1.637887,...,0.064639,100.0,0.109558,2067.0,2.264557,825,0.903851,2003.0,2.194440,91276115
29,30,Andaman & Nicobar Is.,218.0,57.280842,23,6.043392,283.0,74.359992,0.0,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000,380581
30,31,Chandigarh,369.0,34.961391,131,12.411767,335.0,31.740016,0.0,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000,1055450
31,32,Dadra & Nagar Haveli,87.0,25.312110,59,17.165684,96.0,27.930604,0.0,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000,343709
32,33,Daman & Diu,39.0,16.033086,15,6.166571,49.0,20.144133,0.0,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000,243247
33,34,Delhi,NaN,NaN,856,5.098898,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,NaN,786,4.681932,NaN,NaN,"1,67,87,941"
34,35,Lakshadweep,1.0,1.551037,0,0.000000,1.0,1.551037,0.0,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000,64473
35,36,Puducherry,1111.0,89.025789,151,12.099815,1323.0,106.013608,0.0,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000,1247953
36,Total,Total,378992.0,31.299537,102878,8.496311,393340.0,32.484485,20876.0,1.724071,...,0.061444,1988.0,0.164182,29463.0,2.433239,10901,0.900273,27529.0,2.273518,1210854977

In [6]:
df.head()

,Sl. No,States/UTs,Fault of Driver-Total No. of Road Accidents - 2014,Fault of Driver-Total No. of Road Accidents - 2014 per 1L people,Fault of Driver-Number of Persons-Killed - 2014,Fault of Driver-Number of Persons-Killed - 2014 per 1L people,Fault of Driver-Number of Persons-Injured - 2014,Fault of Driver-Number of Persons-Injured - 2014 per 1L people,Fault of Driver of other vehicles-Total No. of Road Accidents - 2014,Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people,...,Falling of boulders-Number of Persons-Killed - 2014 per 1L people,Falling of boulders-Number of Persons-Injured - 2014,Falling of boulders-Number of Persons-Injured - 2014 per 1L people,Other causes/causes not known-Total No. of Road Accidents - 2014,Other causes/causes not known-Total No. of Road Accidents - 2014 per 1L people,Other causes/causes not known-Number of Persons-Killed - 2014,Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people,Other causes/causes not known-Number of Persons-Injured - 2014,Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people,Population
0,1,Andhra Pradesh,21359.0,40.753165,6743,12.865705,26287.0,50.155834,288.0,0.549507,...,0.001908,12.0,0.022896,1530.0,2.919254,545,1.039865,1617.0,3.085251,52410653
1,2,Arunachal Pradesh,30.0,2.168058,19,1.373103,30.0,2.168058,20.0,1.445372,...,0.000000,0.0,0.000000,34.0,2.457132,22,1.589909,54.0,3.902504,1383727
2,3,Assam,6895.0,22.095410,2429,7.783865,6281.0,20.127813,2.0,0.006409,...,0.000000,0.0,0.000000,43.0,0.137796,10,0.032046,35.0,0.112159,31205576
3,4,Bihar,5008.0,4.810784,2646,2.541800,3374.0,3.241131,608.0,0.584057,...,0.042267,58.0,0.055716,960.0,0.922195,528,0.507207,745.0,0.715662,104099452
4,5,Chhattisgarh,9108.0,35.654451,2458,9.622161,8710.0,34.096428,726.0,2.842021,...,0.027402,38.0,0.148756,1552.0,6.075506,555,2.172620,1421.0,5.562689,25545198

In [7]:
df.isnull().sum()

Sl. No                                                                          0
States/UTs                                                                      0
Fault of Driver-Total No. of Road Accidents - 2014                              1
Fault of Driver-Total No. of Road Accidents - 2014 per 1L people                1
Fault of Driver-Number of Persons-Killed - 2014                                 0
                                                                               ..
Other causes/causes not known-Number of Persons-Killed - 2014                   0
Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people     0
Other causes/causes not known-Number of Persons-Injured - 2014                  1
Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people    1
Population                                                                      0
Length: 63, dtype: int64

In [8]:

df['Fault of Driver-Total No. of Road Accidents - 2014'].fillna(df['Fault of Driver-Total No. of Road Accidents - 2014'].mean(), inplace=True)
df['Fault of Driver-Total No. of Road Accidents - 2014 per 1L people'].fillna(df['Fault of Driver-Total No. of Road Accidents - 2014 per 1L people'].mean(), inplace=True)

df['Other causes/causes not known-Number of Persons-Injured - 2014'].fillna(df['Other causes/causes not known-Number of Persons-Injured - 2014'].median(), inplace=True)


df.fillna(method='ffill', inplace=True)

C:\Users\i ball\AppData\Local\Temp\ipykernel_1196\1824616626.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fault of Driver-Total No. of Road Accidents - 2014'].fillna(df['Fault of Driver-Total No. of Road Accidents - 2014'].mean(), inplace=True)
C:\Users\i ball\AppData\Local\Temp\ipykernel_1196\1824616626.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fault of Driver-Total No. of Road Accidents - 2014 per 1L people'].fillna(df['Fault of Driver-Total No. of Road Accidents - 2014 per 1L people'].mean(), inplace=True)
C:\Users\i ball\AppData\Local\Temp\ipykernel_1196\1824616626.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Other causes/causes not known-Number of Persons-Injured - 2014'].fillna(df['Other causes/causes not known-Number of Persons-Injured - 2014'].median(), inplace=True)
C:\Users\i ball\AppData\Local\Temp\ipykernel_1196\1824616626.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

In [9]:
df.isnull().sum()

Sl. No                                                                          0
States/UTs                                                                      0
Fault of Driver-Total No. of Road Accidents - 2014                              0
Fault of Driver-Total No. of Road Accidents - 2014 per 1L people                0
Fault of Driver-Number of Persons-Killed - 2014                                 0
                                                                               ..
Other causes/causes not known-Number of Persons-Killed - 2014                   0
Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people     0
Other causes/causes not known-Number of Persons-Injured - 2014                  0
Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people    0
Population                                                                      0
Length: 63, dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 63 columns):
 #   Column                                                                                 Non-Null Count  Dtype
---  ------                                                                                 --------------  -----
 0   Sl. No                                                                                 37 non-null     object
 1   States/UTs                                                                             37 non-null     object
 2   Fault of Driver-Total No. of Road Accidents - 2014                                     37 non-null     float64
 3   Fault of Driver-Total No. of Road Accidents - 2014 per 1L people                       37 non-null     float64
 4   Fault of Driver-Number of Persons-Killed - 2014                                        37 non-null     int64
 5   Fault of Driver-Number of Persons-Killed - 2014 per 1L people                          37 non-null     float64
 6   Fault of Driver-Number of Persons-Injured - 2014                                       37 non-null     float64
 7   Fault of Driver-Number of Persons-Injured - 2014 per 1L people                         37 non-null     float64
 8   Fault of Driver of other vehicles-Total No. of Road Accidents - 2014                   37 non-null     float64
 9   Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people     37 non-null     float64
 10  Fault of Driver of other vehicles-Number of Persons-Killed - 2014                      37 non-null     int64
 11  Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people        37 non-null     float64
 12  Fault of Driver of other vehicles-Number of Persons-Injured - 2014                     37 non-null     float64
 13  Fault of Driver of other vehicles-Number of Persons-Injured - 2014 per 1L people       37 non-null     float64
 14  Fault of Pedestrian-Total No. of Road Accidents - 2014                                 37 non-null     float64
 15  Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people                   37 non-null     float64
 16  Fault of Pedestrian-Number of Persons-Killed - 2014                                    37 non-null     int64
 17  Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people                      37 non-null     float64
 18  Fault of Pedestrian-Number of Persons-Injured - 2014                                   37 non-null     float64
 19  Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people                     37 non-null     float64
 20  Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014                37 non-null     float64
 21  Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014 per 1L people  37 non-null     float64
 22  Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014                   37 non-null     int64
 23  Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014 per 1L people     37 non-null     float64
 24  Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014                  37 non-null     float64
 25  Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014 per 1L people    37 non-null     float64
 26  Defect in Road Condition-Total No. of Road Accidents - 2014                            37 non-null     float64
 27  Defect in Road Condition-Total No. of Road Accidents - 2014 per 1L people              37 non-null     float64
 28  Defect in Road Condition-Number of Persons-Killed - 2014                               37 non-null     int64
 29  Defect in Road Condition-Number of Persons-Killed - 2014 per 1L people                 37 non-null     float64
 30  Defect in Road Condition-Number of Persons-Injured - 2014                              37 non-null     float64
 31  Defect in Road Condition-Number of Persons-Injured - 2014 per 1L people                37 non-null     float64
 32  Weather Condition-Total No. of Road Accidents - 2014                                   37 non-null     float64
 33  Weather Condition-Total No. of Road Accidents - 2014 per 1L people                     37 non-null     float64
 34  Weather Condition-Number of Persons-Killed - 2014                                      37 non-null     int64
 35  Weather Condition-Number of Persons-Killed - 2014 per 1L people                        37 non-null     float64
 36  Weather Condition-Number of Persons-Injured - 2014                                     37 non-null     float64
 37  Weather Condition-Number of Persons-Injured - 2014 per 1L people                       37 non-null     float64
 38  Fault of Passenger-Total No. of Road Accidents - 2014                                  37 non-null     float64
 39  Fault of Passenger-Total No. of Road Accidents - 2014 per 1L people                    37 non-null     float64
 40  Fault of Passenger-Number of Persons-Killed - 2014                                     37 non-null     int64
 41  Fault of Passenger-Number of Persons-Killed - 2014 per 1L people                       37 non-null     float64
 42  Fault of Passenger-Number of Persons-Injured - 2014                                    37 non-null     float64
 43  Fault of Passenger-Number of Persons-Injured - 2014 per 1L people                      37 non-null     float64
 44  Poor light-Total No. of Road Accidents - 2014                                          37 non-null     float64
 45  Poor light-Total No. of Road Accidents - 2014 per 1L people                            37 non-null     float64
 46  Poor light-Number of Persons-Killed - 2014                                             37 non-null     int64
 47  Poor light-Number of Persons-Killed - 2014 per 1L people                               37 non-null     float64
 48  Poor light-Number of Persons-Injured - 2014                                            37 non-null     float64
 49  Poor light-Number of Persons-Injured - 2014 per 1L people                              37 non-null     float64
 50  Falling of boulders-Total No. of Road Accidents - 2014                                 37 non-null     float64
 51  Falling of boulders-Total No. of Road Accidents - 2014 per 1L people                   37 non-null     float64
 52  Falling of boulders-Number of Persons-Killed - 2014                                    37 non-null     int64
 53  Falling of boulders-Number of Persons-Killed - 2014 per 1L people                      37 non-null     float64
 54  Falling of boulders-Number of Persons-Injured - 2014                                   37 non-null     float64
 55  Falling of boulders-Number of Persons-Injured - 2014 per 1L people                     37 non-null     float64
 56  Other causes/causes not known-Total No. of Road Accidents - 2014                       37 non-null     float64
 57  Other causes/causes not known-Total No. of Road Accidents - 2014 per 1L people         37 non-null     float64
 58  Other causes/causes not known-Number of Persons-Killed - 2014                          37 non-null     int64
 59  Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people            37 non-null     float64
 60  Other causes/causes not known-Number of Persons-Injured - 2014                         37 non-null     float64
 61  Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people           37 non-null     float64
 62  Population                                                                             37 non-null     object
dtypes: float64(50), int64(10), object(3)
memory usage: 18.3+ KB

In [11]:
df.dtypes

Sl. No                                                                           object
States/UTs                                                                       object
Fault of Driver-Total No. of Road Accidents - 2014                              float64
Fault of Driver-Total No. of Road Accidents - 2014 per 1L people                float64
Fault of Driver-Number of Persons-Killed - 2014                                   int64
                                                                                 ...
Other causes/causes not known-Number of Persons-Killed - 2014                     int64
Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people     float64
Other causes/causes not known-Number of Persons-Injured - 2014                  float64
Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people    float64
Population                                                                       object
Length: 63, dtype: object

In [34]:
df['Total_No_Of_Road_Accident_Injured_Death'] = df[['Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people','Fault of Driver of other vehicles-Number of Persons-Injured - 2014 per 1L people','Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people']].sum(axis=1)


total_No_Of_Road_Accident_Injured_Death= df[['States/UTs', 'Total_No_Of_Road_Accident_Injured_Death']].sort_values(by='Total_No_Of_Road_Accident_Injured_Death', ascending=False)

In [35]:
total_No_Of_Road_Accident_Injured_Death

               States/UTs  Total_No_Of_Road_Accident_Injured_Death
11              Karnataka                                13.406924
9         Jammu & Kashmir                                10.995669
14            Maharashtra                                 8.887261
22                 Sikkim                                 8.025196
18               Nagaland                                 6.924431
13         Madhya Pradesh                                 6.610507
4            Chhattisgarh                                 6.435652
1       Arunachal Pradesh                                 5.709219
28            West Bengal                                 3.662513
26            Uttarakhand                                 3.579115
17                Mizoram                                 3.554483
36                 Total                                  3.494968
7                 Haryana                                 3.423866
27          Uttar Pradesh                                 3.065376
20                 Punjab                                 2.476270
16              Meghalaya                                 2.426784
10              Jharkhand                                 2.400863
25                Tripura                                 2.204731
6                 Gujarat                                 1.879560
0          Andhra Pradesh                                 1.503511
3                   Bihar                                 1.207499
8        Himachal Pradesh                                 0.801212
23             Tamil Nadu                                 0.324338
19                 Odisha                                 0.316861
24              Telangana                                 0.198420
33                 Delhi                                  0.077437
2                   Assam                                 0.012818
5                     Goa                                 0.000000
21              Rajasthan                                 0.000000
15                Manipur                                 0.000000
29  Andaman & Nicobar Is.                                 0.000000
30             Chandigarh                                 0.000000
31   Dadra & Nagar Haveli                                 0.000000
32            Daman & Diu                                 0.000000
34            Lakshadweep                                 0.000000
35             Puducherry                                 0.000000
12                 Kerala                                 0.000000

In [36]:
df['Total_No_Of_Road_Accident_Injured_Death_by_Pedestrian'] = df[['Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people','Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people','Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people']].sum(axis=1)


total_No_Of_Road_Accident_Injured_Death_by_Pedestrian= df[['States/UTs', 'Total_No_Of_Road_Accident_Injured_Death_by_Pedestrian']].sort_values(by='Total_No_Of_Road_Accident_Injured_Death_by_Pedestrian', ascending=False)

In [37]:
total_No_Of_Road_Accident_Injured_Death_by_Pedestrian

,States/UTs,Total_No_Of_Road_Accident_Injured_Death_by_Pedestrian
5,Goa,19.882828
6,Gujarat,5.340861
9,Jammu & Kashmir,3.117699
24,Telangana,2.991795
23,Tamil Nadu,2.826173
7,Haryana,2.686236
10,Jharkhand,2.243231
11,Karnataka,2.093451
16,Meghalaya,1.988615
25,Tripura,1.687572
36,Total,1.327740
4,Chhattisgarh,1.276169
27,Uttar Pradesh,1.106538
2,Assam,1.044685
28,West Bengal,0.956439
0,Andhra Pradesh,0.950189
20,Punjab,0.929953
3,Bihar,0.636891
14,Maharashtra,0.634487
19,Odisha,0.509837
13,Madhya Pradesh,0.359371
15,Manipur,0.000000
29,Andaman & Nicobar Is.,0.000000
35,Puducherry,0.000000
34,Lakshadweep,0.000000
33,Delhi,0.000000
32,Daman & Diu,0.000000
31,Dadra & Nagar Haveli,0.000000
30,Chandigarh,0.000000
26,Uttarakhand,0.000000
8,Himachal Pradesh,0.000000
17,Mizoram,0.000000
12,Kerala,0.000000
22,Sikkim,0.000000
21,Rajasthan,0.000000
1,Arunachal Pradesh,0.000000
18,Nagaland,0.000000

In [42]:
df['Total_No_Of_Road_Accident_by_Pedestrian'] = df[['Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people']].sum(axis=1)
df['Total_No_Of_Road_Injured_by_Pedestrian'] = df[['Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people']].sum(axis=1)
df['Total_No_Of_Road_Death_by_Pedestrian'] = df[['Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people']].sum(axis=1)


total_No_Of_Road_Accident_Injured_Death_by_Pedestrian = df[['States/UTs', 'Total_No_Of_Road_Accident_by_Pedestrian', 'Total_No_Of_Road_Injured_by_Pedestrian', 'Total_No_Of_Road_Death_by_Pedestrian']].sort_values(
    by=['Total_No_Of_Road_Accident_by_Pedestrian', 'Total_No_Of_Road_Injured_by_Pedestrian', 'Total_No_Of_Road_Death_by_Pedestrian'], 
    ascending=False
)

In [43]:
total_No_Of_Road_Accident_Injured_Death_by_Pedestrian

,States/UTs,Total_No_Of_Road_Accident_by_Pedestrian,Total_No_Of_Road_Injured_by_Pedestrian,Total_No_Of_Road_Death_by_Pedestrian
5,Goa,11.998259,1.988283,5.896287
6,Gujarat,2.501667,0.670089,2.169104
9,Jammu & Kashmir,1.778125,0.279078,1.060496
24,Telangana,1.454044,0.155015,1.382737
7,Haryana,1.372702,0.552236,0.761297
23,Tamil Nadu,1.307053,0.381166,1.137954
16,Meghalaya,1.011160,0.370759,0.606696
10,Jharkhand,0.924575,0.585059,0.733597
25,Tripura,0.680473,0.326627,0.680473
36,Total,0.593878,0.211008,0.522854
4,Chhattisgarh,0.571536,0.160500,0.544134
11,Karnataka,0.548324,0.126033,1.419095
27,Uttar Pradesh,0.486456,0.250735,0.369347
2,Assam,0.461456,0.169841,0.413388
0,Andhra Pradesh,0.446474,0.198433,0.305281
20,Punjab,0.443350,0.407305,0.079298
28,West Bengal,0.377974,0.224593,0.353871
14,Maharashtra,0.297221,0.098777,0.238489
3,Bihar,0.274737,0.138329,0.223824
19,Odisha,0.214417,0.109591,0.185828
13,Madhya Pradesh,0.209289,0.013769,0.136313
1,Arunachal Pradesh,0.000000,0.000000,0.000000
8,Himachal Pradesh,0.000000,0.000000,0.000000
12,Kerala,0.000000,0.000000,0.000000
15,Manipur,0.000000,0.000000,0.000000
17,Mizoram,0.000000,0.000000,0.000000
18,Nagaland,0.000000,0.000000,0.000000
21,Rajasthan,0.000000,0.000000,0.000000
22,Sikkim,0.000000,0.000000,0.000000
26,Uttarakhand,0.000000,0.000000,0.000000
29,Andaman & Nicobar Is.,0.000000,0.000000,0.000000
30,Chandigarh,0.000000,0.000000,0.000000
31,Dadra & Nagar Haveli,0.000000,0.000000,0.000000
32,Daman & Diu,0.000000,0.000000,0.000000
33,Delhi,0.000000,0.000000,0.000000
34,Lakshadweep,0.000000,0.000000,0.000000
35,Puducherry,0.000000,0.000000,0.000000

In [46]:

df['Total Road Accident'] = df[['Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014 per 1L people']].sum(axis=1)
df['Total Road Injured'] = df[['Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014 per 1L people']].sum(axis=1)
df['Total Road Deaths'] = df[['Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014 per 1L people']].sum(axis=1)


Total_Road_Accident_Injured_Deaths_Defect_of_Vehicle = df[['States/UTs', 'Total Road Accident', 'Total Road Injured', 'Total Road Deaths']].sort_values(
    by=['Total Road Accident', 'Total Road Injured', 'Total Road Deaths'], 
    ascending=False
)

In [47]:
Total_Road_Accident_Injured_Deaths_Defect_of_Vehicle

,States/UTs,Total Road Accident,Total Road Injured,Total Road Deaths
15,Manipur,4.622182,0.945446,7.738653
9,Jammu & Kashmir,2.719016,0.302999,1.538915
4,Chhattisgarh,2.630631,0.896450,1.914254
16,Meghalaya,2.527900,0.741517,1.381919
13,Madhya Pradesh,2.291165,0.509454,2.326964
1,Arunachal Pradesh,1.228566,0.578149,1.589909
5,Goa,1.165545,0.000000,0.891299
24,Telangana,1.078907,0.430943,1.987296
8,Himachal Pradesh,1.077994,0.538997,2.272528
18,Nagaland,1.061409,0.303260,1.111952
27,Uttar Pradesh,1.030467,0.543010,0.739194
11,Karnataka,1.024629,0.184957,1.325798
10,Jharkhand,0.863947,0.472897,0.666906
36,Total,0.759463,0.293016,0.697854
23,Tamil Nadu,0.719364,0.271667,0.712434
7,Haryana,0.650850,0.422066,0.378676
28,West Bengal,0.645295,0.383452,0.591612
20,Punjab,0.609155,0.385678,0.306380
25,Tripura,0.544378,0.108876,0.871005
3,Bihar,0.519695,0.290107,0.341020
14,Maharashtra,0.442272,0.087209,0.404897
26,Uttarakhand,0.347006,0.158631,0.178460
6,Gujarat,0.266381,0.099273,0.271345
0,Andhra Pradesh,0.127837,0.049608,0.162181
21,Rajasthan,0.107953,0.052518,0.110871
19,Odisha,0.066708,0.021442,0.083385
33,Delhi,0.000000,0.041697,0.000000
2,Assam,0.000000,0.000000,0.000000
12,Kerala,0.000000,0.000000,0.000000
17,Mizoram,0.000000,0.000000,0.000000
22,Sikkim,0.000000,0.000000,0.000000
29,Andaman & Nicobar Is.,0.000000,0.000000,0.000000
30,Chandigarh,0.000000,0.000000,0.000000
31,Dadra & Nagar Haveli,0.000000,0.000000,0.000000
32,Daman & Diu,0.000000,0.000000,0.000000
34,Lakshadweep,0.000000,0.000000,0.000000
35,Puducherry,0.000000,0.000000,0.000000

In [48]:
df['Total Road Accident'] = df[['Defect in Road Condition-Total No. of Road Accidents - 2014 per 1L people']].sum(axis=1)
df['Total Road Injured'] = df[['Defect in Road Condition-Number of Persons-Killed - 2014 per 1L people']].sum(axis=1)
df['Total Road Deaths'] = df[['Defect in Road Condition-Number of Persons-Injured - 2014 per 1L people']].sum(axis=1)


Total_Road_Accident_Injured_Deaths_Defect_in_Road_Condition = df[['States/UTs', 'Total Road Accident', 'Total Road Injured', 'Total Road Deaths']].sort_values(
    by=['Total Road Accident', 'Total Road Injured', 'Total Road Deaths'], 
    ascending=False
)

In [49]:
Total_Road_Accident_Injured_Deaths_Defect_in_Road_Condition

,States/UTs,Total Road Accident,Total Road Injured,Total Road Deaths
15,Manipur,2.836339,0.350165,4.482116
13,Madhya Pradesh,1.991000,0.309803,1.840918
4,Chhattisgarh,1.722437,0.555877,1.491474
24,Telangana,1.531551,0.601459,3.797875
27,Uttar Pradesh,1.360777,0.734689,0.793244
1,Arunachal Pradesh,1.084029,0.650417,2.095789
16,Meghalaya,1.011160,0.404464,0.438169
9,Jammu & Kashmir,0.901023,0.087710,1.020628
28,West Bengal,0.690213,0.367018,0.456856
36,Total,0.690091,0.285996,0.619067
20,Punjab,0.684849,0.464976,0.623573
10,Jharkhand,0.676001,0.415301,0.700252
7,Haryana,0.556181,0.291896,0.220895
0,Andhra Pradesh,0.543783,0.366338,0.843340
3,Bihar,0.428436,0.242076,0.270895
8,Himachal Pradesh,0.364187,0.160242,0.917752
14,Maharashtra,0.339045,0.070301,0.288322
6,Gujarat,0.335872,0.052945,0.177036
11,Karnataka,0.291348,0.070382,0.299532
21,Rajasthan,0.248000,0.103576,0.297600
23,Tamil Nadu,0.163555,0.037424,0.228700
5,Goa,0.068561,0.000000,0.000000
19,Odisha,0.061943,0.021442,0.054796
26,Uttarakhand,0.009914,0.009914,0.000000
2,Assam,0.000000,0.000000,0.000000
12,Kerala,0.000000,0.000000,0.000000
17,Mizoram,0.000000,0.000000,0.000000
18,Nagaland,0.000000,0.000000,0.000000
22,Sikkim,0.000000,0.000000,0.000000
25,Tripura,0.000000,0.000000,0.000000
29,Andaman & Nicobar Is.,0.000000,0.000000,0.000000
30,Chandigarh,0.000000,0.000000,0.000000
31,Dadra & Nagar Haveli,0.000000,0.000000,0.000000
32,Daman & Diu,0.000000,0.000000,0.000000
33,Delhi,0.000000,0.000000,0.000000
34,Lakshadweep,0.000000,0.000000,0.000000
35,Puducherry,0.000000,0.000000,0.000000

In [51]:



df['Total Road Accident'] = df[['Weather Condition-Total No. of Road Accidents - 2014 per 1L people']].sum(axis=1)
df['Total Road Injured'] = df[['Weather Condition-Number of Persons-Killed - 2014 per 1L people']].sum(axis=1)
df['Total Road Deaths'] = df[['Weather Condition-Number of Persons-Injured - 2014 per 1L people']].sum(axis=1)


Weather_Condition_Total_Road_Accident_Injured_Deaths = df[['States/UTs', 'Total Road Accident', 'Total Road Injured', 'Total Road Deaths']].sort_values(
    by=['Total Road Accident', 'Total Road Injured', 'Total Road Deaths'], 
    ascending=False
)

In [52]:
Weather_Condition_Total_Road_Accident_Injured_Deaths

,States/UTs,Total Road Accident,Total Road Injured,Total Road Deaths
15,Manipur,3.851818,0.525248,4.447099
1,Arunachal Pradesh,1.662178,0.939492,1.806715
22,Sikkim,1.637795,0.327559,2.620472
20,Punjab,1.120990,0.836237,0.598342
11,Karnataka,1.111379,0.330631,0.502494
24,Telangana,1.047903,0.567356,2.852282
28,West Bengal,1.033129,0.436040,1.017791
16,Meghalaya,0.943749,0.303348,0.471875
4,Chhattisgarh,0.829902,0.234878,0.806414
27,Uttar Pradesh,0.791743,0.419394,0.593056
13,Madhya Pradesh,0.742150,0.114283,0.616852
10,Jharkhand,0.615373,0.284951,0.697220
7,Haryana,0.500957,0.295841,0.268229
36,Total,0.492297,0.210925,0.452325
3,Bihar,0.392894,0.201730,0.293950
6,Gujarat,0.320981,0.071145,0.398745
9,Jammu & Kashmir,0.159473,0.015947,0.287052
0,Andhra Pradesh,0.114481,0.036252,0.133561
14,Maharashtra,0.090768,0.036485,0.081869
5,Goa,0.068561,0.000000,0.000000
23,Tamil Nadu,0.049898,0.018019,0.077619
21,Rajasthan,0.033553,0.016047,0.037929
19,Odisha,0.026207,0.026207,0.021442
2,Assam,0.000000,0.000000,0.000000
8,Himachal Pradesh,0.000000,0.000000,0.000000
12,Kerala,0.000000,0.000000,0.000000
17,Mizoram,0.000000,0.000000,0.000000
18,Nagaland,0.000000,0.000000,0.000000
25,Tripura,0.000000,0.000000,0.000000
26,Uttarakhand,0.000000,0.000000,0.000000
29,Andaman & Nicobar Is.,0.000000,0.000000,0.000000
30,Chandigarh,0.000000,0.000000,0.000000
31,Dadra & Nagar Haveli,0.000000,0.000000,0.000000
32,Daman & Diu,0.000000,0.000000,0.000000
33,Delhi,0.000000,0.000000,0.000000
34,Lakshadweep,0.000000,0.000000,0.000000
35,Puducherry,0.000000,0.000000,0.000000